//cores
$cor-one: #2563eb;
$cor-two: #1e40af;
$cor-fundo: #ffffff;
$cor-fundo-cinza: #f3f4f6;
$cor-text: #1f2937;
$cor-text-claro: #4b5563;
$cor-borda: #d1d5db;

//fonte
$fonte-central: 'Segoe UI', Tahoma, Geneva, Verdana, sens-serif;

//espaço
$espac-padrao: 4rem;
$espac-card: 2.5rem;

//breakpoints
$breakpoint-desktop-sm: 992px;
$breakpoint-tablet: 768px;