body {
    font-family: sans-serif;
    background: #1e293b;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.caixa {
    background: #111829;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    text-transform: uppercase;
}

.btnB button {
    margin: 4px;
    padding: 8px;
    cursor: pointer;
}

.btnPegar {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

#fixa {
    margin-top: 15px;
    background: #fef08a;
    color: #000;
    padding: 10px;
    border-radius: 4px;
    display: none;
}